<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <div class="posts">
      <% include partials/top %>
      <!-- main start-->

      <!-- views/posts/index.ejs -->
      <div class="index">
      <div class="message">
        <%= postsMessage %>
      </div>
        <div class="buttons">
          <a class="button float_left" href="/posts/new %>">New</a>
          <% if(user) {%>
            <a class="button float_right" href="/logout">Logout</a>
            <a class="button float_right" href="/users/<%= user._id %>">My Profile (<%= user.nickname %>)</a>
          <% } else { %>
            <a class="button float_right" href="/login">Login</a>
            <a class="button float_right" href="/users/new">Sign Up</a>
          <% } %>
        </div>
        <table>
          <colgroup>
            <col class="title"/>
            <col class="date"/>
            <col class="author"/>
          </colgroup>
          <thead>
            <tr>
              <th>Title</th>
              <th>Date</th>
              <th>Author</th>
            </tr>
          </thead>
          <tbody>
            <% posts.forEach(function(post){ %>
              <tr onclick="window.location = '/posts/<%= post._id %>?page=<%= page %>'">
                <td><%= post.title %></td>
                <td><%= post.getCreatedDate() %></td>
                <td><%= post.author.nickname %></td>
              </tr>
            <% }) %>
          </tbody>
        </table>
        <ul class="pagination">
          <%
            var offset = 3;
            var partialQuery;
            if(urlQuery) partialQuery = "&"+rulQuery.replace(/page=(.*?)(&|$)/ig,"");
          %>
          <% for(i=1; i<=maxPage; i++){ %>
            <% if(i<=offset || i>maxPage-offset || (i>=page-(offset-1) && i<=page+(offset-1))) { %>
              <% if(i != page) { %>
                <li>[<a href="/posts?page=<%= i %><% partialQuery %>"> <%= i %> </a>]</li>
              <% } else { %>
                <li>[<b> <%= i %> </b>]</li>
              <% } %>
            <% } else if(i == offset+1 || i == maxPage-offset) { %>
               <li>...</li>
            <% } %>
          <% } %>
        </ul>
        <div class="counter">
          <% if(counter){ %>
            Total <%= counter.totalCount %> visitors<br>
            (today: <%= counter.todayCount %>)
          <% } %>
        </div>
      </div>

      <!-- main end -->
          </div><!--posts end -->
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
